.home {
  width: 100%;
  margin: 0px;
  font-family: "proxima-nova", Helvetica, sans-serif;
  font-size: 17px;
  padding: 0px;
  margin: 0px;
}

p {
  line-height: 1.5em;
  color: #666;
}

#right img {
  display: block;
  width: 100%;
  max-height: auto;
  padding: 1px; 
}

#container {
  margin: 0px auto 0px auto;
  padding-top: 10px;
  font-size: 17px;
  color: black;
  width: 100%;
  max-width: 1000px;
}

#headnote {
  position: relative;
  display: block;
  width: 100%;
  height: 52px;
  background-color: #333;
}

#nav ul {
  position: relative;
  top: -50px;
  display: block;
  width: 600px;
  background-color: #333;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  left: 50%;
  margin-left: -300px;
}

#nav ul li {
  float: left;
}

#nav ul li a {
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
  display: block;
  padding: 14px 16px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
}    

#nav ul li a:hover {
  color: #4a41f1;
}

#head h1 {
  display: block;
  text-align: center;
  position: relative;
  top: 50px;
  width: 420px;
  left: 50%;
  margin-left: -190px;
  padding: 0px;
}

#head h1 a {
  padding: 0px;
  margin: 0px;
  font-size: 150%;
  text-decoration: none;
  color: #060549;
}

#head h1 a:hover {
  text-decoration: underline;
}

h2 {
  font-family: sans-serif;
  border-bottom: 1px solid #999;
}

#thread {
  margin: auto;
  position: relative;
  top: 130px;
  width: 70%;
  min-width: 580px;
}

#thread h2 {
  text-align: center;
  color: #333;
}

#thread #inline {
  display: block;
  clear: both;
  margin: 0px;
  padding: 0px;
  position: relative;
  top: -15px;
  font-size: 80%;
  left: 50%;
  margin-left: -200px;
}


#thread #inline p {
  display: block;
  float: left;
  padding: 0px;
  margin: 0px;
}

#thread #inline a {
  color: #999;
}

#thread #inline ul li {
  display: inline;
  position: relative;
  top: 2px;
  left: 5px;
}

#thread>p {
  position: relative;
  top: 40px;
  text-align: left;
  color: #333;
}


#left {
  float: left;
  position: relative;
  top: 120px;
  width: 60%;
  min-width: 580px;
  padding-left: 20px;
}

#right {
  float: right;
  margin-right: 20px;
  position: relative;
  top: 120px;
  width: 30%;
  min-width: 250px;
}
